MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=futurekawa_db
MYSQL_PORT=3307

DB_HOST=db_futurekawa
DB_USER=root
DB_PASS=root
DB_NAME=futurekawa_db

COUNTRY_API_PORT=3000
COUNTRY_API_URL=http://api_country:3000
CENTRAL_API_PORT=3001
APP_PORT=8080

SIMULATOR_API_URL=http://api_country:3000
SIMULATOR_ENTREPOT_ID=COFFEE-01
SIMULATOR_INTERVAL_MS=5000
SIMULATOR_MODE=mixed