MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=brazil_db
MYSQL_PORT=3307

DB_HOST=db_futurekawa
DB_USER=root
DB_PASS=root
DB_NAME=brazil_db

# Per-country database overrides (use these for remote DBs)
BRAZIL_DB_HOST=db_Brazil
BRAZIL_DB_PORT=3306
BRAZIL_DB_USER=root
BRAZIL_DB_PASS=root
BRAZIL_DB_NAME=brazil_db

COLOMBIA_DB_HOST=db_Colombia
COLOMBIA_DB_PORT=3306
COLOMBIA_DB_USER=root
COLOMBIA_DB_PASS=root
COLOMBIA_DB_NAME=colombia_db

COUNTRY_API_PORT=3000
COUNTRY_API_URL=http://api_country:3000
CENTRAL_API_PORT=3001
APP_PORT=8080

SIMULATOR_API_URL=http://api_country:3000
SIMULATOR_ENTREPOT_ID=COFFEE-01
SIMULATOR_INTERVAL_MS=5000
SIMULATOR_MODE=mixed